<!DOCTYPE html>
<html lang="en">
<head>
  <title>LeagueBidder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- Website content -->
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
<%= render 'layouts/nav' %>
<%= yield %>

<!-- jQuery Plugin -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Preloader -->
<script type="text/javascript">
	//<![CDATA[
		$(window).load(function() { // makes sure the whole site is loaded
			$('#status').fadeOut(); // will first fade out the loading animation
			$('#preloader').delay(3).fadeOut('slow'); // will fade out the white DIV that covers the website.
			$('body').delay(1).css({'overflow':'visible'});
		})
	//]]>
</script>

</body>
</html>



